################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Minachev.BookStore/.vs/Minachev.BookStore
/Minachev.BookStore/Minachev.BookStore/bin/Debug/netcoreapp3.1
